@import "~vue-material/dist/theme/engine"; // Import the theme engine

@include md-register-theme("default", (
  primary: md-get-palette-color(black, 200), // The primary color of your application
  accent: md-get-palette-color(blue, 200), // The accent or secondary color
  theme: light // This can be dark or light
));

@include md-register-theme("blue-card", (
  primary: md-get-palette-color(blue, 500), // The primary color of your application
  accent: md-get-palette-color(white, 500), // The accent or secondary color
  text-primary: md-get-palette-color(white, 500),
  theme: dark // This can be dark or light
));

@include md-register-theme("orange-card", (
  primary: md-get-palette-color(orange, 500), // The primary color of your application
  accent: md-get-palette-color(white, 500), // The accent or secondary color
  theme: dark // This can be dark or light
));

@include md-register-theme("red-card", (
  primary: md-get-palette-color(red, 500), // The primary color of your application
  accent: md-get-palette-color(white,   500), // The accent or secondary color
  theme: dark // This can be dark or light
));

@import "~vue-material/dist/theme/all"; // Apply to all
